<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0,0,0,1.0[纯黑色]</key>
	<string>255,255,255[纯白色]</string>
	<key>0,0,0,0.45[灰菊花]</key>
	<string>0,255,0,0.45[绿菊花]</string>
	<key>30,30,30[灰色]</key>
	<string>255,255,255[纯白色]</string>
	<key>255,255,255,1.0,5[纯白色]</key>
	<string>0,0,0[纯黑色]</string>
</dict>
</plist>
